/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
.affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
.navbar {
      margin-bottom: 0px;
  }

.affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
	display: block;
}

@media screen and (max-width: 480px) {
	
}

#subscribe {
	padding-right: 20px;
	padding-left: 20px;
}

#success{
	display: none;
}

#footer {
  container: 100%;
	text-align: center;
	padding-top: 5px;
  padding-bottom: 5px;
	background: darkred;
	color: white;
}