/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
.affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
.navbar {
      margin-bottom: 0px;
  }

.affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
	display: block;
}

.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
	/* inline-block space fix */
    margin-right:-4px;
}

#vid {
	padding-top: 30px;
}

#player-container {
	text-align:left;
}

#player {
	width: 100%;
}

#subscribe {
	padding-top: 60px;
	padding-bottom: 30px;
	padding-right: 80px;
	padding-left: 80px;
}

#success{
	display: none;
	padding-top: 20px;
	padding-bottom: 20px;
}

#footer {
  container: 100%;
	text-align: center;
	padding-top: 5px;
  padding-bottom: 5px;
	background: darkred;
	color: white;
}